{% extends "home/base.html" %}
{% block content %}
{% load static %}

<head>
	<!-- <#slider> -->
	<!-- <style></style> -->
	<div class="container">
		<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../../static/rose3.jpg" class="rounded mx-auto my-5 d-block w-99" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>Pink rose</h5>
						<p>Some representative placeholder content for the first slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="../../static/white rose.jpg" class="rounded mx-auto my-5 d-block w-99" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>White rose</h5>
						<p>Some representative placeholder content for the second slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="../../static/red rose.jpg" class="rounded mx-auto my-5 d-block w-99" alt="...">
					<div class="carousel-caption d-none d-md-block ">
						<h5>Red rose</h5>
						<p>Some representative placeholder content for the third slide.</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<hr class="carousel-divider">


	{% comment %} marque {% endcomment %}
	<div class="marquee">
		<section id="block-block-12" class="block block-block clearfix">
			<marquee direction="left">
				<div>Identify flowers in second with the click of a button on your device</div>
			</marquee>
		</section>
		<section id="block-block-17" class="block block-block clearfix">
	</div>
	<hr class="marquee-divider">


	{% comment %} upload button {% endcomment %}
	<div class="container">
		<div class="col-md-12 my-5 text-center">
			<from action="/upload" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="document">
				<button type="submit"> Upload File</button>
				</form>
		</div>
	</div>
	{% comment %} cards {% endcomment %}
	<div class="container">
		<div class="row">
			<div class="col-sm-3 ">
				<div class="card" style="width: 18rem;">
					<img src="../../static/daisy.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Daisy</h5>
						<p class="card-text">xxxxxxxxxxxxxxxxx</p>
						<a href="{% url 'daisy' %}" class="btn btn-primary">More info</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 ">
				<div class="card" style="width: 18rem;">
					<img src="../../static/sunflower.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Sunflower</h5>
						<p class="card-text">xxxxxxxxxxxxxxxxx</p>
						<a href="{% url 'sunflower' %}" class="btn btn-primary">More info</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 ">
				<div class="card" style="width: 18rem;">
					<img src="../../static/rose1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Rose</h5>
						<p class="card-text">xxxxxxxxxxxxxxxxx</p>
						<a href="{% url 'rose' %}" class="btn btn-primary">More info</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 ">
				<div class="card" style="width: 18rem;">
					<img src="../../static/tulip.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Tulip</h5>
						<p class="card-text">xxxxxxxxxxxxxxxxx</p>
						<a href="{% url 'tulip' %}" class="btn btn-primary">More info</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 ">
				<div class="card" style="width: 18rem;">
					<img src="../../static/dandelion.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Dandelion</h5>
						<p class="card-text">xxxxxxxxxxxxxxxxx</p>
						<a href="{% url 'dandelion' %}" class="btn btn-primary">More info</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 ">
				<div class="card" style="width: 18rem;">
					<img src="../../static/lotus.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Lotus</h5>
						<p class="card-text">xxxxxxxxxxxxxxxxx</p>
						<a href="{% url 'lotus' %}" class="btn btn-primary">More info</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<form action="/Test1">
			<button id="stat-btn" class="btn">PRESS ME</button>
		</form>
	</div>
</head>
{% endblock content %}